header{
    background-image: linear-gradient(#003770 90%,#e30613 0%);
    background-size: 100%;
    height: 100px;
    
}

body{
    font-family:'Poppins', sans-serif;
    background: #fafafa;
}
a,
a:hover,
a:focus{
    color:inherit;
    text-decoration: none;
    transition: all 0.3%;
}
#logoFCYT{
    width: 95px;
}
#nos{
    color: #fff;
}

.wrapper{
    display: flex;
    text-decoration: none;
    transition: all 0.3%;
}

#sidebar{
    min-width: 250px;
    max-width: 250px;
    background: #003770;
    color: #fff;
    transition: all 0.3%;
}
#Inicio{
    margin-top: 28px;
    margin-right: 15px;
    padding-left: 1%;
    float: right;
    padding-right: 1%; 
    background-color: #003770;
    border-color: #000000;
    border-width: 3px;
}
#sidebar .active{
    margin-left: -250px;
}
li{
    list-style: none;
    padding-left: 5%;
    padding-bottom: 2%;
}
#sidebar li.components{
    padding: 20px 0;
    background: #003770;
}
#sidebar li p{
    color: #fff;
    padding: 10px;
}

#sidebar li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar li a:hover{
    color: #003770;
    background: #fff;
}

#sidebar li.active>a,
a[aria-expanded="true"]{
    color:#fff;
    background: #003770;
}

a[data-toogle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50px;
    right: 20px;
    transform: translate(-50%);
}
#content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3%;
}
table tr th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .sorting {
    background-color: #D4D4D4;
  }
  
  .asc:after {
    content: ' ↑';
  }
  
  .desc:after {
    content: " ↓";
  }